@{
    ViewData["Title"] = "棒球數據圖表";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="mb-4">棒球數據視覺化</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title">打擊率趨勢圖</h5>
                </div>
                <div class="card-body">
                    <div id="battingChart" style="width: 100%; height: 400px;"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title">全壘打統計</h5>
                </div>
                <div class="card-body">
                    <div id="homerunChart" style="width: 100%; height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">球員表現雷達圖</h5>
                </div>
                <div class="card-body">
                    <div id="radarChart" style="width: 100%; height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/echarts/echarts.min.js"></script>
    <script src="~/js/charts.js"></script>
}