@{
    ViewData["Title"] = "棒球數據圖表";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="mb-4">棒球數據視覺化</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title">打擊率趨勢圖</h5>
                </div>
                <div class="card-body">
                    <div id="battingChart" style="width: 100%; height: 400px;"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title">全壘打統計</h5>
                </div>
                <div class="card-body">
                    <div id="homerunChart" style="width: 100%; height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">球員表現雷達圖</h5>
                </div>
                <div class="card-body">
                    <div id="radarChart" style="width: 100%; height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/echarts/echarts.min.js"></script>
    <script>
        // 打擊率趨勢圖
        var battingChart = echarts.init(document.getElementById('battingChart'));
        var battingOption = {
            title: {
                text: '球員打擊率走勢'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['張育成', '王柏融', '林智勝']
            },
            xAxis: {
                type: 'category',
                data: ['1月', '2月', '3月', '4月', '5月', '6月']
            },
            yAxis: {
                type: 'value',
                name: '打擊率'
            },
            series: [
                {
                    name: '張育成',
                    type: 'line',
                    data: [0.285, 0.298, 0.275, 0.312, 0.289, 0.301],
                    smooth: true
                },
                {
                    name: '王柏融',
                    type: 'line',
                    data: [0.267, 0.289, 0.301, 0.278, 0.295, 0.287],
                    smooth: true
                },
                {
                    name: '林智勝',
                    type: 'line',
                    data: [0.256, 0.268, 0.279, 0.291, 0.275, 0.283],
                    smooth: true
                }
            ]
        };
        battingChart.setOption(battingOption);

        // 全壘打統計圖
        var homerunChart = echarts.init(document.getElementById('homerunChart'));
        var homerunOption = {
            title: {
                text: '全壘打統計'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            xAxis: {
                type: 'category',
                data: ['張育成', '王柏融', '林智勝', '陳金鋒', '彭政閔']
            },
            yAxis: {
                type: 'value',
                name: '全壘打數'
            },
            series: [
                {
                    name: '全壘打',
                    type: 'bar',
                    data: [15, 22, 18, 28, 12],
                    itemStyle: {
                        color: '#5470c6'
                    }
                }
            ]
        };
        homerunChart.setOption(homerunOption);

        // 球員表現雷達圖
        var radarChart = echarts.init(document.getElementById('radarChart'));
        var radarOption = {
            title: {
                text: '張育成綜合表現'
            },
            tooltip: {},
            legend: {
                data: ['2024年', '2023年']
            },
            radar: {
                indicator: [
                    { name: '打擊率', max: 0.35 },
                    { name: '上壘率', max: 0.4 },
                    { name: '長打率', max: 0.6 },
                    { name: 'OPS', max: 1.0 },
                    { name: '盜壘成功率', max: 1.0 }
                ]
            },
            series: [
                {
                    name: '球員表現',
                    type: 'radar',
                    data: [
                        {
                            value: [0.301, 0.356, 0.487, 0.843, 0.75],
                            name: '2024年'
                        },
                        {
                            value: [0.289, 0.334, 0.456, 0.79, 0.82],
                            name: '2023年'
                        }
                    ]
                }
            ]
        };
        radarChart.setOption(radarOption);

        // 響應式調整
        window.addEventListener('resize', function() {
            battingChart.resize();
            homerunChart.resize();
            radarChart.resize();
        });
    </script>
}